<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Rails School</title>
    <link rel="stylesheet" href="framework7.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="slick.css">
    <link rel="stylesheet" href="rothrock.css">
  </head>
  <body>
    <div class="statusbar-overlay"></div>
    <div class="views">
      <div class="view view-main">
        <div class="pages navbar-through toolbar-hrought">
          <div data-page="class-list" class="page">
            <div class="page-content class-list">
              <header class="js-header">
                <div class="logo-wrapper"><img src="logo-default.png" class="logo js-logo">
                  <p class="upcoming-classes js-upcoming-classes"></p>
                </div>
                <div class="settings">
                  <p class="ic-settings"><i class="fa fa-cog"></i></p>
                  <p class="label">Settings</p>
                </div>
              </header>
              <section class="js-class-list"></section>
              <script id="class-card-template" type="text/template7">{{#each classes}}
                <div class="class-card-wrapper js-class-card-wrapper">
                  <div class="class-card"><img src="going-pin.png" class="class-going-pin hidden js-class-going-pin">
                    <p class="class-countdown js-class-countdown">{{lesson.countdown}}</p>
                    <div data-slug="{{lesson.slug}}" class="class-card-content">
                      <h1>{{lesson.title}}</h1>
                      <h2>{{lesson.summary}}</h2>
                      <ul>
                        <li>
                          <p class="ic-ruby"><i class="fa fa-diamond"></i></p>
                          <p>{{teacher.name}}</p>
                        </li>
                        <li>
                          <p class="ic-venue"><i class="fa fa-map-marker"></i></p>
                          <p>{{venue.name}}</p>
                        </li>
                        <li>
                          <p class="ic-calendar"><i class="fa fa-calendar-o"></i></p>
                          <p>{{lesson.date}} {{lesson.countdown}}</p>
                        </li>
                        <li>
                          <p class="ic-clock"><i class="fa fa-clock-o"></i></p>
                          <p>{{lesson.hour}}</p>
                        </li>
                      </ul>
                    </div>
                    <div class="class-rsvp-button"></div>
                  </div>
                  <p class="class-attendees">
                    {{#js_compare "self.attendees == 0"}} Be the first join to join this class! {{/js_compare}}
                    {{#js_compare "self.attendees == 1"}} 1 student is going{{/js_compare}}
                    {{#js_compare "self.attendees > 1"}}{{attendees}} are going{{/js_compare}}{{/js_compare}}
                  </p>
                  <div class="class-share-wrapper">
                    <p class="ic-share"><i class="fa fa-share-alt"></i></p>
                    <p>Share</p>
                  </div>
                </div>{{/each}}
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="framework7.min.js"></script>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="slick.min.js"></script>
    <script type="text/javascript" src="caravel.min.js"></script>
    <script type="text/javascript" src="rothrock.js"></script>
  </body>
</html>