
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link">Back</a></div>
    <div class="center sliding">Settings</div>
  </div>
</div>
<div class="pages">
  <div data-page="settings" class="page">
    <div class="page-content settings js-settings">
      <div class="form-wrapper">
        <div class="content-block-title">User information</div>
        <div class="list-block">
          <ul>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">Email</div>
                <div class="item-after">
                  <div class="item-input">
                    <input type="email" placeholder="Your email" class="js-email-field"/>
                  </div>
                </div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">Password</div>
                <div class="item-after">
                  <div class="item-input">
                    <input type="password" placeholder="*********" class="js-password-field"/>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="content-block-title">Notification of Upcoming Workshops</div>
        <div class="list-block">
          <ul>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">2-Hour Reminder</div>
                <div class="item-after">
                  <div class="item-input">
                    <select class="js-2h-reminder">
                      <option value="0">Never</option>
                      <option value="1">Only if attending</option>
                      <option value="2">Always</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">24-Hour Reminder</div>
                <div class="item-after">
                  <div class="item-input">
                    <select class="js-24-reminder">
                      <option value="0">Never</option>
                      <option value="1">Only if attending</option>
                      <option value="2">Always</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">New Workshop Alert</div>
                <div class="item-after">
                  <label class="label-switch">
                    <input type="checkbox" class="js-new-workshop-alert"/>
                    <div class="checkbox"></div>
                  </label>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <p class="log-out"><a href="#" class="js-log-out">Log out of Rails School App</a></p>
      <p class="footer">Tweet feedback to&nbsp;<a class="js-twitter">@railsschoolsf</a></p>
    </div>
  </div>
</div>