<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">Back</a>
    </div>
  </div>
</div>

<div class="pages">
  <div data-page="settings" class="page">
    <div class="page-content">
      <!-- Credentials part -->
      <div class="content-block-title">Account</div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-email"></i></div>
              <div class="item-inner">
                <div class="item-input">
                  <input type="text" placeholder="Email">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Reminders part -->
    </div>
  </div>
</div>