
<div class="pages">
  <div data-page="single-class" class="page">
    <div class="page-content single-class js-single-class">
      <script id="single-class-template" type="text/template7">{{#js_compare "this.isAttending = true"}}
        <header><img src="going-pin.png" class="class-going-pin"/>
          <p class="countdown js-header-countdown">{{lesson.countdown}}</p>
        </header>{{else}}
        <header class="hidden"><img src="going-pin.png" class="class-going-pin"/>
          <p class="countdown js-header-countdown">{{lesson.countdown}}</p>
        </header>{{/js_compare}}
        <section><img src="logo-diamond.png" class="logo"/>
          <p class="attendees">
            {{#js_compare "this.attendees == 0"}} Be the first join to join this class! {{/js_compare}}
            {{#js_compare "this.attendees == 1"}} 1 student is going {{/js_compare}}
            {{#js_compare "this.attendees > 1"}}{{attendees}} students are going {{/js_compare}}
          </p>
          <h1>{{lesson.title}}</h1>
          <h2>{{lesson.summary}}</h2>
          <ul>
            <li>
              <p class="ic-ruby"><i class="fa fa-diamond"></i></p>
              <p>{{teacher.name}}</p>
            </li>
            <li>
              <p class="ic-venue"><i class="fa fa-map-marker"></i></p>
              <p>{{venue.name}}</p>
            </li>
            <li>
              <p class="ic-calendar"><i class="fa fa-calendar-o"></i></p>
              <p>{{lesson.date}} ({{lesson.countdown}})</p>
            </li>
            <li>
              <p class="ic-clock"><i class="fa fa-clock-o"></i></p>
              <p>{{lesson.hour}}</p>
            </li>
          </ul>
          <p class="description">{{lesson.description}}</p>
        </section>{{#js_compare "this.isAttending == true"}}
        <div class="rsvp-button unrsvp js-rsvp-button">unRSVP</div>{{else}}
        <div class="rsvp-button js-rsvp-button">RSVP</div>{{/js_compare}}
        <footer>
          <p class="ic-close"><i class="fa fa-2x fa-close"></i></p>
          <div class="share-wrapper js-share">
            <p class="ic-share"><i class="fa fa-share-alt"></i></p>
            <p>Share</p>
          </div>
        </footer>
      </script>
    </div>
  </div>
</div>