@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "colors";
@import "fonts";

.navbar-icon {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}

.statusbar-overlay {
  background-color: $red;
}

.navbar {
  background-color: $red;
  color: $white;
}