@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "colors";
@import "fonts";

.shown {
  display: block;
}

.hidden {
  display: none;
}

%ic {
  font-family: 'Serif'; // FIXME
}

.ic-ruby, .ic-venue, .ic-calendar, .ic-clock {
  @extend %ic;
}