@import "base";

$class-list-selector: "class-list";
$going-pin-size: 30px;

.#{$class-list-selector} {
  @include display(flex);
  @include flex-direction(column);

  width: 100%;
  height: 100%;
  padding: 0 !important;
  box-sizing: border-box;

  background-color: $white;
}

.#{$class-list-selector} header {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);

  width: 100%;
  padding: 20px 20px 15px 20px;
  box-sizing: border-box;

  .logo-wrapper {
    max-width: 40%;
    margin: 0 5px 5px 0;

    .logo {
      max-width: 100%;
      margin: 0 0 5px 0;
    }

    .upcoming-classes {
      margin: 0;

      font: {
        family: $body-font;
        size: 8px;
      }
      text-align: center;
      color: $gray;
    }
  }

  .settings {
    margin: 0 0 5px 5px;

    text-align: center;

    p {
      margin: 0;

      font: {
        family: $body-font;
        size: 9px;
      }
      color: $gray;
    }

    .ic-settings {
      margin: 0 0 5px 0;
    }
  }
}

.#{$class-list-selector} section {
  @include flex(1);
  position: relative; // Change card-wrapper referential to section

  padding: 0 0 0 ($going-pin-size - 20px);

  overflow: hidden;

  .class-card-wrapper {
    position: absolute;

    width: 80%;
    height: 100%;

    background-color: $white;

    .class-attendees {
      margin: 5px;

      text-align: center;
      font: {
        family: $body-font;
        size: 9px;
      }
      color: $red;
    }

    .class-share-wrapper {
      margin: 5px;

      > * {
        display: inline-block;
      }

      p {
        font-size: 9px;
      }

      .ic-share {
        padding: 0 5px 0 0;

        color: $gray;
      }

      p:last-child {
        font-family: $body-font;
        color: $black;
      }
    }
  }
}

// Class card + floating elements
.#{$class-list-selector} section .class-card-wrapper {

  > * {
    position: absolute;
  }

  .class-going-pin {
    width: $going-pin-size;

    z-index: 3;
  }

  .class-countdown {
    border-bottom: 1px solid $red;

    color: $black;
    font: {
      family: $body-font;
      size: 9px;
    }

    z-index: 2;
  }

  .class-card {
    padding: 10px;
    box-sizing: border-box;

    border: 1px solid $gray;

    overflow: auto;
    z-index: 1;
  }

  .class-rsvp-button {
    width: 100px;

    font: {
      family: $body-font;
      size: 20px;
    }
    color: $white;
    text-shadow: 0 3px 3px $black;
    text-align: center;

    background-color: $white;
    background-position: 2px;

    &.rsvp {
      background-image: url('rsvp.png');

      &:active {
        background-image: url('rsvp-active.png');
      }
    }

    &.unrsvp {
      background-image: url('unrsvp.png');

      &:active {
        background-image: url('unrsvp-active.png');
      }
    }

    z-index: 2;
  }
}

// Class card inner content
.#{$class-list-selector} section .class-card-wrapper .class-card {

  h1, h2 {
    margin: 5px 0;

    font-weight: normal;
  }

  h1 {

    color: $blue;
    font: {
      family: $headline-font;
      size: 24px;
    }
  }

  h2 {
    color: $black;
    font: {
      family: $body-font;
      size: 12px;
    }
  }

  ul {
    margin: 15px 0;
    padding: 0;

    list-style-type: none;

    li {
      margin: 5px 0;
      padding: 0;

      p {
        display: inline-block;
        vertical-align: middle;

        margin: 0;

        font: {
          family: $body-font;
          size: 10px;
        }
      }

      p:first-child {
        width: 25px;
        padding: 0 5px 0 0;

        text-align: center;1
        color: $gray;
      }

      p:last-child {
        color: $black;
      }
    }
  }
}