script#class-card-template(type='text/template7')
  | {{#each classes}}
  .class-card-wrapper
    .class-card
      img.class-going-pin.hidden.js-class-going-pin(src='going-pin')
      p.class-countdown.js-class-countdown {{lesson.countdown}}

      //- Details wrapper
      .class-card-content(data-slug="{{lesson.slug}}")
        h1 {{lesson.title}}
        h2 {{lesson.summary}}

        ul
          li
            p.ic-ruby &#xf219;
            p {{teacher.name}}
          li
            p.ic-venue &#xf041;
            p {{venue.name}}
          li
            p.ic-calendar &#xf133;
            p {{lesson.date}} {{lesson.countdown}}
          li
            p.ic-clock &#xf017;
            p {{lesson.hour}}

      //- RSVP button
      .class-rsvp-button

    p.class-attendees
      | {{#js_compare "attendees == 0"}} Be the first join to join this class!
      | {{else}}{{#js_compare "attendees == 1"}} 1 student is going
      | {{else}}{{attendees}} are going{{/js_compare}}{{/js_compare}}
    .class-share-wrapper
      p.ic-share &#xf1e0;
      p Share

  | {{/each}}