script#class-card-template(type='text/template7')
  | {{#each classes}}
  .class-card-wrapper.js-class-card-wrapper
    .class-card-relative-wrapper
      img.class-going-pin.hidden.js-class-going-pin(src='going-pin.png')
      p.class-countdown.js-class-countdown {{lesson.countdown}}

      //- Details wrapper
      .class-card(data-slug="{{lesson.slug}}")
        h1 {{lesson.title}}
        h2 {{lesson.summary}}

        ul
          li
            p.ic-ruby
              i.fa.fa-diamond
            p {{teacher.name}}
          li
            p.ic-venue
              i.fa.fa-map-marker
            p {{venue.name}}
          li
            p.ic-calendar
              i.fa.fa-calendar-o
            p {{lesson.date}} {{lesson.countdown}}
          li
            p.ic-clock
              i.fa.fa-clock-o
            p {{lesson.hour}}

      //- RSVP button
      .class-rsvp-button

    p.class-attendees
      | {{#js_compare "self.attendees == 0"}} Be the first join to join this class! {{/js_compare}}
      | {{#js_compare "self.attendees == 1"}} 1 student is going{{/js_compare}}
      | {{#js_compare "self.attendees > 1"}}{{attendees}} are going{{/js_compare}}{{/js_compare}}

    .class-share-wrapper
      p.ic-share
        i.fa.fa-share-alt
      p Share

  | {{/each}}