@font-face {
  font-family: "Muli";
  src: url("Muli-Regular.eot");
  /* IE9 Compat Modes */
  src: url("Muli-Regular.eot?#iefix") format("embedded-opentype"), url("Muli-Regular.woff") format("woff"), url("Muli-Regular.ttf") format("truetype"), url("Muli-Regular.svg#c85b2458fecc0dfe933a4fc2cd098850") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Muli-Italic";
  src: url("Muli-Italic.eot");
  /* IE9 Compat Modes */
  src: url("Muli-Italic.eot?#iefix") format("embedded-opentype"), url("Muli-Italic.woff") format("woff"), url("Muli-Italic.ttf") format("truetype"), url("Muli-Italic.svg#44cf9b31f9dde2efac9c52707f676b32") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400; }
@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("YanoneKaffeesatz-Regular.eot");
  /* IE9 Compat Modes */
  src: url("YanoneKaffeesatz-Regular.eot?#iefix") format("embedded-opentype"), url("YanoneKaffeesatz-Regular.woff") format("woff"), url("YanoneKaffeesatz-Regular.ttf") format("truetype"), url("YanoneKaffeesatz-Regular.svg#d05230b1b2f3ce3e90471620c9faac8c") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }
.shown {
  display: block; }

.hidden {
  display: none; }

.visible {
  visibility: visible; }

.invisible {
  visibility: hidden; }

.single-class .rsvp-button {
  width: 150px;
  height: 51.72414px;
  padding: 4.5px 0;
  font-family: "Yanone Kaffeesatz";
  font-size: 32px;
  color: #fff;
  text-shadow: 0 1px 1px #333;
  text-align: center;
  background-color: #fff;
  background-position: 5px 5px;
  background-image: url("rsvp.png");
  background-size: 140px;
  background-repeat: no-repeat;
  cursor: pointer; }
  .single-class .rsvp-button:active {
    background-image: url("rsvp-active.png"); }
  .single-class .unrsvp.rsvp-button {
    background-image: url("unrsvp.png"); }
    .single-class .unrsvp.rsvp-button:active {
      background-image: url("unrsvp-active.png"); }

.single-class section h1 {
  color: #0f3344;
  font-family: "Yanone Kaffeesatz";
  font-size: 32px;
  text-align: left;
  line-height: 1.4em; }

.single-class section h2 {
  font-family: "Muli";
  font-size: 18px;
  text-align: left; }

.single-class section h1, .single-class section h2 {
  margin: 10px 0;
  font-weight: normal; }

.single-class section ul {
  margin: 15px 0;
  padding: 0;
  text-align: left;
  list-style-type: none; }
  .single-class section ul li {
    margin: 10px 0;
    padding: 0; }
    .single-class section ul li p {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      font-family: "Muli";
      font-size: 15px; }
    .single-class section ul li p:first-child {
      width: 25px;
      padding: 0 15px 0 0;
      text-align: center;
      color: #999; }
    .single-class section ul li p:last-child {
      color: #333; }

.single-class section .attendees {
  margin: 5px;
  text-align: center;
  font-family: "Muli";
  font-size: 13px;
  color: #ab1818; }

.single-class footer .share-wrapper > * {
  display: inline-block;
  vertical-align: middle; }
.single-class footer .share-wrapper p {
  margin: 0;
  font-size: 13px; }
.single-class footer .share-wrapper .ic-share {
  padding: 0 5px 0 0;
  color: #999; }
.single-class footer .share-wrapper p:last-child {
  font-family: "Muli";
  color: #333; }

.single-class {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  background: white; }
  .single-class header, .single-class section, .single-class .rsvp-button, .single-class footer {
    position: absolute; }

.single-class header {
  top: -12.5px;
  left: -12.5px;
  z-index: 2; }
  .single-class header > * {
    display: inline-block;
    vertical-align: middle; }
  .single-class header .class-going-pin {
    width: 50px;
    height: 50px; }

.single-class section {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 50px 100px 50px;
  box-sizing: border-box;
  text-align: center;
  overflow: auto;
  z-index: 1; }
  .single-class section .logo {
    max-width: 50px;
    margin: 0 5px 5px 0; }
  .single-class section h2 {
    color: #999; }
  .single-class section .description {
    margin: 5px 0;
    font-size: 18px;
    font-family: "Muli";
    text-align: left;
    color: #333; }

.single-class .rsvp-button {
  z-index: 3; }

.single-class footer {
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  width: 100%;
  background-color: white;
  border-top: 1px solid #ccc;
  z-index: 2; }
  .single-class footer > * {
    padding-top: 10px;
    padding-bottom: 10px; }
  .single-class footer p.ic-close {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px; }
  .single-class footer .share-wrapper {
    padding-right: 20px; }
