header.js-header
  .logo-wrapper
    img.logo.js-logo
    p.upcoming-classes.js-upcoming-classes
  .settings
    p.ic-settings &#xf013;
    p.label Settings

- var slickConfig = { accessibility: false, edgeFriction: 0.30, infinite: false, variableWidth: true }
section.js-class-list&attributes({'data-slick': slickConfig})

include ./templates/class-list-template.jade