header.js-header
  .logo-wrapper
    img.logo.js-logo(src='logo-default.png')
    p.upcoming-classes.js-upcoming-classes
  .settings
    p.ic-settings &#xf013;
    p.label Settings

section.js-class-list

include ./templates/class-list-template.jade