header.js-header
  .logo-wrapper
    img.logo.js-logo(src='logo-default.png')
    p.upcoming-classes.js-upcoming-classes
  .settings.js-settings
    a(href="settings.html")
      p.ic-settings
        i.fa.fa-2x.fa-cog
      p.label Settings

section.js-class-list.owl-carousel

include templates/class_list_template