header.js-header
  .logo-wrapper
    img.logo.js-logo(src='logo-default.png')
    p.upcoming-classes.js-upcoming-classes
  .settings
    p.ic-settings
      i.fa.fa-cog
    p.label Settings

section.js-class-list.owl-carousel

include ./templates/class-list-template.jade