doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    title Rails School

    //- CSS dependencies
    link(rel='stylesheet', href='framework7.min.css')
    link(rel='stylesheet', href='font-awesome.min.css')

    link(rel='stylesheet', href='rothrock.css')

  body
    //- Status bar overlay for full screen mode (PhoneGap)
    .statusbar-overlay

    .views
      //- Your main view, should have "view-main" class
      .view.view-main
        //- No navbar by default
        .pages.navbar-through.toolbar-hrought
          //- Page, "data-page" contains page name
          .page(data-page='class-list')
            .page-content.class-list
              include ./class-list.jade

    //- JS dependencies
    script(type='text/javascript', src='framework7.min.js')
    script(type='text/javascript', src='jquery.min.js')
    script(type='text/javascript', src='hammer.min.js')
    script(type='text/javascript', src='caravel.min.js')

    //- Main script
    script(type='text/javascript', src='rothrock.js')